
#infotable{
overflow-y:scroll; 
overflow-x:scroll; 
height:400px; 
width:500px;
display:block; 
}

table thead {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
    background-color:black;
    color:white;
}


.main-menu .logo{text-align:left;}
.main-menu{
	position: fixed; /* required - magic */
	top: 0; /* menu stays fixed at the top */
	text-align:right;
	background-color:#034688;
	    width: 100%; /* required - makes the menu go all the way across the 
    viewport */
    z-index: 1000;

	
}

   .logo {
    margin: 0;
    padding: 0;
    float: left;
    height: 30px;
    text-transform: uppercase;
    font-size: 18px;
}

.main-menu li{
	display: inline-block;
	border:1px solid white;
}

.main-menu a{
	color: white;
	display: block;
	padding: 10px 30px 10px 30px;
	text-decoration:none;
	background-color:#034688;
}

.main-menu a:hover{
	color:black;
	background-color:#FFFF00;
}

.main-menu li a.current{
	color:white;
	background-color:#FFFF00;
}
.dining{padding-left:250px}


.f-image{padding-left:30px;}

div{padding-right:40px;}

.image-overlay{padding-left:30px;}

.tag{padding-left:30px;}


.button{text-align:right;
width: 100%; /* required - makes the menu go all the way across the 
    viewport */
    display: block;
    padding:0;
  }
    
    
.button a{
	color: white;
	display: block;
	padding: 10px 30px 10px 30px;
	text-decoration:none;
	background-color:#034688;
	display: inline-block;
	border:1px solid white;
	
}



.button a:hover{color:black;
	background-color:#FFFF00;
}

