

Body{background-color:#cacaca;}

h1,h2,h3{color:#02386d;}

.surv{
	background-color:#FFFF00;
    margin: 0;
    padding-left: 30px;
    font-family:'lato', sans-serif;
}
label {
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
    line-height: 1.75em;
}

.surv h2{text-align:center;
	padding-top:20px;
	padding-bottom:20px;}


h1, h3, h4 {
	font-family: 'Nunito', sans-serif;
	letter-spacing:2px;
	padding-bottom: 15px;
	margin-top: 10px;
}

.credits{padding-top:30px;
	padding-bottom:30px;
	padding-left:30px;
}

.credits ul{
	list-style:none;
}

.submit{padding-bottom:15px;}

.heading{padding-top:50px;
	text-align:center;}
	
.login{padding-left:30px;}
